:root {
    --background-color: #005b96;
    --base-highlight-color: #54B2A9;
    --blue-acent-color: #00D4FF;
    --main-font: 'Source Sans Pro', sans-serif;
}

html, body {
    background-color: var(--background-color);
    margin: 0;
    font-family: var(--main-font);
    scroll-behavior: smooth;
}

.nav-list{
    margin: 0;
    background-color: white;
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-item{
    list-style: none;
    margin-right: 2rem;
    font-size: large;
    font-weight: bold;
}

.nav-item a {
    text-decoration: none;
    color: #505168;
}

.nav-item a:hover {
    color: #cfd8dc;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 6rem;
    font-size: xx-large;
    font-weight: bolder;
}

.nav-item:first-child a {
    color: black;
}

.nav-item:last-child {
    margin-right: 6rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 2rem;
    margin-left: 6rem;
    color: white;
    height: 100vh;
    background-image: url(../resources/blobanimation.svg);
    background-position: right top;
    background-repeat: no-repeat;
}

.header-text h1{
    margin: 0;
    
}

.experience {
    height: 100vh;
}

#experience-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    padding-bottom: 2rem;
}

.resume-button {
    font-family: var(--main-font);
    font-size: large;
    font-weight: bold;
    color: #505168;
    background-color: #6aeeb5;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

.resume-button:hover {
    background-color: #cfd8dc;
}

.footer {
    background-color: var(--background-color);
    padding: 1rem 2rem;
}

.footer-content {
    margin-left: 6rem;
    font-weight: bold;
    color: white;
}

.cards-container {
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin: 1rem;
    background-image: linear-gradient(var(--base-highlight-color), var(--blue-acent-color));
    color: white;
    border-radius: 0.5rem;
  }

.card-header img {
    max-width:100%;
    height:auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-body {
    padding: 1rem 2rem;
}

.card-body p {
    margin: 0;
}

.card-title {
    padding: 1rem 2rem;
}

.card-title h2 {
    margin: 0;
    font-size: 1rem;
}
.card-title h1 {
    margin: 0;
    font-size: 2rem;
}

@media (max-width: 670px) {
    .cards-container {
        display: flex;
        flex-direction: column;
        margin-left: 6rem;
        margin-right: 6rem;
    }
}